body {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*color: #4B4E75;*/
  color: rgb(0,0,0);
  background: #ecf0f1;
  background-image: url('/images/plant.jpg');
  background-size: 170%;
}

#saveIt{
   display: inline;
   height: 23px;   
   line-height: 0.9;
   font-size: 12px;
}

#closeIt{
   display: inline;
   height: 23px;   
   line-height: 0.9;
   font-size: 12px;
}

.editable {
   cursor: pointer;
}
h3 {
   /*font-family: MyWebFont;*/
   color: #2F4761;
   font-size: 22px;
}

h2 {
   /*font-family: MyWebFont;*/
   color: #2F4761;
   font-size: 26px;
}
h1{
   /*font-family: MyWebFont;*/
   font-size: 56px;
   padding: 10px;
   margin: 0;
   color: #2F4761;
}
.container {
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 40px;
   background: rgba(255,255,255,0.65);
   border-radius: 10px;
}

.editableTD {
   /*border-radius: 1em 1em 1em 1em;*/
}

.table-hover {
   border-color: #4B4E75;
}

.editable {
   color: #A94634;
   /*font-weight: bold;*/
   border-radius: 1em;
}

.jumbotron {
	background: #bdc3c7;
	border-bottom: 3px solid #4B4E75;
	text-align: center;
	height: 400px;
}

img{
	width: 800px;
}

header {
   /*color:#3498db;*/
   text-align: center;
   /*background: #16a085;*/
   padding: 30px;
   /*border-bottom: 3px solid #4B4E75;*/
   border-top: 0;
   /*border-radius: 0 0 2rem 2rem; */
}

/*.highcharts-container{
	background-color: rgba(255,255,255,0.7);
}*/

/*#70A7E5*/
/*FFE164*/